<ion-view view-title="Home">
  <ion-content class="padding">
    <h2>Las mascotas <b>Mas  Lindas</b></h2>
    <p>Acá vas a Ver las mascotas mas lindas de todas AhRre</p>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="mascota in mascotas | orderBy:'-score'|limitTo:5" type="item-text-wrap" >
        <h2>{{mascota.nombre}}</h2>
        <p>{{mascota.descripcion}}</p>
        <p>{{mascota.score}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
