<ion-view view-title="Detalles">
	<ion-content class="padding">
		<h1>{{ mascota.nombre }}</h1>
		<dl>
			<dt>Nombre:</dt>
			<dd>{{ mascota.nombre }}</dd>
			<dt>Descripci&#243;n:</dt>
			<dd>{{ mascota.descripcion }}</dd>
			<dt>Imag&#233;n:</dt>
			<dd>
				<img class="img_mascota" src="{{ mascota.imagen }}" alt="foto del pichicho">
			</dd>
		</dl>
    <ion-list>
      <ion-item ng-repeat="coment in coments">
        <h3><b>{{ coment.usuario }}</b>:{{coment.dateTime}}</h3>
        <p>{{ coment.coment }}</p>
      </ion-item>
    </ion-list>
    <hr>
    <h3>Dejanos tu comentario</h3>
    <form ng-submit="crearComent(comentario)">
      <div class="list">
        <label class="item item-input item-stacked-label">
          Contanos del bicho
          <textarea name="coment" ng-model="comentario.coment"></textarea>
        </label>
        <input type="hidden" ng-model="comentario.id_usuario"  >
        <input type="hidden" ng-model="comentario.id_mascota" >
        <button class="button button-block button-positive">Comentar</button>
      </div>
    </form>
  </ion-content>
</ion-view>
