<!-- ion-view permite controlar desde esta subvista los detalles
de la directiva ion-nav-bar. -->
<ion-view view-title="Mascotas">

	<!-- ion-content define el contenido a mostrar en el ion-nav-view. -->
	<ion-content>
    <ion-refresher on-refresh="doRefresh($ev)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
		<div class="padding">
			<h2>Listado de Mascotas</h2>
		</div>
		<ion-list>
			<ion-item ng-repeat="mascota in mascotas" href="#/tab/mascotas/{{ mascota.id_mascota }}">
				<h3>{{ mascota.nombre }}</h3>
				<p>{{ mascota.descripcion }}</p>
				<p>{{ mascota.score }}</p>
				<ion-option-button class="button-assertive" ng-click="downvote(mascota.id_mascota)">
					No me Gusta
				</ion-option-button>
				<ion-option-button class="button-balanced" ng-click="upvote(mascota.id_mascota)">
					Me Encanta
				</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
