<!-- ion-view permite controlar desde esta subvista los detalles
de la directiva ion-nav-bar. -->
<ion-view view-title="Perfil">
	<ion-nav-buttons side="secondary">
		<a class="button" href="#/tab/mascotas/nuevo">Nueva Mascota</a>
	</ion-nav-buttons>
	<!-- ion-content define el contenido a mostrar en el ion-nav-view. -->
	<ion-content>
		<div class="padding">
			<h2>Estas son tus mascotas</h2>
		</div>
		<ion-list>
			<ion-item ng-repeat="mascota in mascotas">
				<h3>{{ mascota.nombre }}</h3>
				<p>{{ mascota.descripcion }}</p>
				<p>{{ mascota.score }}</p>
				<ion-option-button class="button-balanced" ng-click="edit(mascota.id_mascota)">
					Editar
				</ion-option-button>
				<ion-option-button class="button-assertive"  ng-click="delete(mascota.id_mascota)">
					Eliminar
				</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>